
.screensaver
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 280px;
  margin-block: auto;

  background-size: 240px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(img/logo--circle--name--dark.svg);
}