@import '../../../../css/variables';

.screensaver
{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: $white-light;

  img
  { 
    width: 128px;
    @include anim_rotate_cw; 
  }

  @include transition;
}