@import '../../../../css/_variables.scss';

.tasks
{
  flex: 1;

  display: flex;
  gap: 16px;

  width: 100%;
  padding: 0px 24px;

  overflow: auto;
  @include transition;

  &__add-card
  {
    flex: 0 0 280px;
    width: 280px;
  
    input
    {
      padding: 14px;
      border: 2px solid #00000000;
      border-radius: $br-big;
    
      color: inherit;
      background-color: $bg-blue-mid;
    
      font-family: inherit;
      font-size: inherit;
    }

    button
    {
      width: 100%;
      padding: 14px;
      border: 2px solid #00000000;
      border-radius: $br-big;

      color: white;
      background-color: $bg-blue-mid;

      font-size: 1rem;
      font-weight: 500;
      text-align: left;
      cursor: pointer;

      @include transition;

      &:hover
      {
        border: 2px solid $green-light;
        color: $green-light;
      }

      .fa-plus
      { transition: all 0s ease-in-out; }
    }
  }
}

@media screen and (max-width: 768px) 
{
  .tasks
  {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    scroll-snap-type: inline mandatory;
  }

  .tasks__add-card
  {
    width: auto;
    
    scroll-margin: 24px;
    scroll-snap-align: start;
  }
}