@import '../../../../css/variables';

.taskbar
{
  display: flex;
  align-items: center;
  gap: 8px;

  position: relative;
  width: calc(100% - 48px);

  margin: 16px 24px;
  padding-bottom: 8px;
  border-bottom: 2px solid $white-dark;

  font-weight: 500;

  &__header
  { 
    display: flex; 
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
  }

  &__color
  {
    margin-right: 8px;
    cursor: pointer;
  }

  &__text
  { 
    width: 100%;
    
    & > *
    { cursor: text }
   
    input
    {
      color: inherit;
      background-color: inherit;
    
      font-size: inherit;
      font-weight: inherit;
    }
  }

  .chrome-picker__bg
  {
    position: absolute;
    width: 100dvw;
    height: 86dvh;
      
    z-index: 1;
  }

  .chrome-picker
  {  
    position: absolute;
    top: 64px;
    left: 0;

    z-index: 1;
  }

  &__options
  {
    display: flex;
    gap: 8px;
  }

  &__option
  {
    display: grid;
    place-items: center;

    position: relative;
    width: 40px;
    height: 40px;
    border-radius: $br-small;

    color: $white-light;

    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;

    @include transition;

    &:hover
    {
      color: $bg-blue-dark;
      background-color: $white-light;
    }

    &--delete:hover
    {
      color: $white-light;
      background-color: $red-light;
    }
  }
}

@media screen and (max-width: 520px) 
{
  .taskbar__header
  { font-size: 1.4rem }
}