@import '../../../../../css/_variables.scss';

.card
{
  flex: 0 0 280px;

  display: flex;
  flex-direction: column;
  
  position: relative;
  width: 280px;
  height: fit-content;
  padding: 4px;
  border-radius: $br-big;

  background-color: $bg-blue-mid;

  @include transition;
  
  ::-webkit-scrollbar-track 
  { 
    margin: 0;
    border-radius: 2px;
    background: $bg-blue-dim 
  }

  ::-webkit-scrollbar-thumb 
  { 
    border-radius: 2px;
    background: $bg-blue-light 
  }

  .options
  { 
    position: absolute;
    right: 8px;
    top: 8px;
  
    font-size: 1.5rem;

    padding: 6px 8px 4px 8px;
    border-radius: $br-small;

    cursor: pointer;
    @include transition;

    &:hover
    { background-color: $bg-blue-bright; }
  }

  &__header
  {
    font-size: 1rem;
    font-weight: 500;
    padding: 16px 48px 0px 16px;
    margin-bottom: 16px;

    input 
    { font-weight: 500; }

    & > *
    {
      cursor: text;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__list
  {
    grid-row: 2;
    grid-column: span 2;
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    max-height: 580px;
    padding-inline: 4px;
    margin-bottom: 8px;
    border-radius: $br-small;

    overflow-y: auto;
  }

  &__add-task
  {
    grid-column: span 2;
    padding: 4px;

    textarea
    {
      padding: 12px;
      border-radius: $br-small;
    
      color: inherit;
      background-color: $bg-blue-light;
    
      font-family: inherit;
      font-size: inherit;
    }

    button
    {
      width: 100%;

      padding: 10px;
      border: 2px solid #00000000;
      border-radius: $br-small;

      color: $grey-light;

      text-align: left;
      cursor: pointer;

      @include transition;

      &:hover
      {
        border: 2px solid $green-light;
        color: $green-light;
      }

      .fa-plus
      { transition: all 0s ease-in-out; }
    }
  }
}

@media screen and (max-width: 768px) 
{
  .card
  {
    width: auto;
    
    scroll-margin: 24px;
    scroll-snap-align: start;
  }
}