@import '../../../css/_variables.scss';

.proj-creator
{
  display: grid;
  grid-template-columns: minmax(0px, 360px) minmax(0px, 34px);
  grid-template-rows: repeat(3, auto);
  column-gap: 8px;

  z-index: 30000;
  opacity: 1;

  position: absolute;
  left: 50%;
  top: 50%;

  min-width: 320px;
  padding: 16px;
  border-radius: $br-big;

  color: white;
  background-color: $bg-blue-light;

  transform: translate(-50%, -50%);
  
  &__title
  {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-bottom: 12px;
  }

  .btn--glow
  { margin-bottom: 12px; }

  &__input
  {
    width: 100%;
    padding: 8px;
    border-radius: $br-small;
    
    color: $bg-blue-dark;
    background-color: $white-light;
  }

  #input--name
  { cursor: text }

  .chrome-picker__bg
  {
    z-index: 1;

    position: absolute;
    inset: 0;

    width: 100vw;
    height: 60vh;
  }

  .chrome-picker
  {
    position: absolute;
    top: 104px;
    right: 16px;
    z-index: 2;
  }

  &__submit
  {
    grid-column: span 2;

    margin-top: 8px;
    padding: 8px;
    border-radius: $br-small;

    background-color: $green-dark;

    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;

    &:hover
    { background-color: $green-light; }
  }
}

@media screen and (max-width: 480px) 
{
  .proj-creator
  { width: 90% }
}