@import '../components/home/confirmation/_confirmation.scss';
@import '../components/home/dashboard/screensaver/_screensaver.scss';
@import '../components/home/dashboard/searchbar/_searchbar.scss';
@import '../components/home/dashboard/taskbar/_taskbar.scss';
@import '../components/home/dashboard/tasks/task/_task.scss';
@import '../components/home/dashboard/tasks/_tasks.scss';
@import '../components/home/dashboard/_dashboard.scss';
@import '../components/home/editor/_editor.scss';
@import '../components/home/menu/header/_header.scss';
@import '../components/home/menu/projects/_projects.scss';
@import '../components/home/menu/user/_user.scss';
@import '../components/home/menu/_menu.scss';
@import '../components/home/proj-creator/_proj-creator.scss';
@import '../components/login/_login.scss';
@import '../components/register/_register.scss';
@import '../components/utils/buttons/_buttons.scss';
@import '../components/utils/notification/_notification.scss';