$bg-blue-dark: hsl(210, 13%, 5%);
$bg-blue-dim: hsl(210, 13%, 10%);
$bg-blue-mid-dim: hsl(210, 13%, 15%);
$bg-blue-mid-light: hsl(210, 14%, 20%);
$bg-blue-light: hsl(210, 15%, 23%);
$bg-blue-bright: hsl(210, 13%, 30%);
$bg-blue-brighter: hsl(210, 13%, 35%);

$bg-overlay-dark: rgba(0, 0, 0, 0.5);
$bg-overlay-mid: rgba(0, 0, 0, 0.4);
$bg-overlay-light: rgba(0, 0, 0, 0.3);

$white-dark: hsl(0, 0%, 85%);
$white-light: hsl(0, 0%, 100%);

$grey-dark: hsl(0, 0%, 60%);
$grey-light: hsl(0, 0%, 72%);

$blue-dark:  hsl(204, 70%, 55%);
$blue-light: hsl(204, 70%, 60%);

$purple-dark: hsl(261, 80%, 63%);
$purple-light: hsl(261, 90%, 73%);

$crimson-dark: hsl(352, 98%, 48%);
$crimson-light: hsl(352, 98%, 58%);

$red-dark: hsl(0, 80%, 51%);
$red-light: hsl(0, 100%, 58%);

$orange-dark: hsl(30, 80%, 51%);
$orange-light: hsl(30, 100%, 58%);

$green-dark: hsl(145, 77%, 41%);
$green-light: hsl(145, 77%, 50%);

$yellow-dark: hsl(46, 93%, 40%);
$yellow-light: hsl(46, 93%, 48%);

$menu-w: 420px;
$menu-w-inv: $menu-w * -1;

$br-giant: 9px;
$br-big: 6px;
$br-small: 3px;

@mixin glow-content
{ filter: drop-shadow(0px 0px 1px $white-light); }

@mixin glow-bg
{ box-shadow: 0px 0px 20px #ffffff0a; }

@mixin gradient
{ background: linear-gradient(270deg, rgba(255, 255, 255, 0) 5%, rgba(52, 122, 170, 0.50) 100%); }


@keyframes fade_in 
{
  from { opacity: 0; }
  to   { opacity: 1; }  
}

@keyframes fade_out 
{
  from { opacity: 1; }
  to   { opacity: 0; }  
}

@keyframes rotate_cw
{
  from { transform: rotate(0deg);   }
  to   { transform: rotate(360deg); }
}

@keyframes rotate_ccw
{
  from { transform: rotate(360deg); }
  to   { transform: rotate(0deg);   }
}

@mixin anim_fade_in
{ animation: fade_in 0.15s forwards ease-in-out; }

@mixin anim_fade_out
{ animation: fade_out 0.15s forwards ease-in-out; }

@mixin anim_rotate_cw
{ animation: rotate_cw 2s infinite; }

@mixin anim_rotate_ccw
{ animation: rotate_ccw 2s infinite; }

@mixin transition
{ transition: all 0.1s ease-in-out; }