/***************************************/
/*                                     */
/*          TABLE OF CONTENTS          */
/*                                     */
/* 1. importing font and global stuff  */
/* 2. menu                             */
/* 3. dashboard                        */
/* 4. mobile                           */
/*                                     */
/***************************************/

/* 1. importing font and global stuff */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

* {margin: 0; padding: 0; border: 0; outline: 0; box-sizing: border-box; transition: all 0.15s ease-in-out;}
html, input, button, select {font-family: 'Montserrat', 'Oxygen', 'Ubuntu', sans-serif;}
body {overflow-x: hidden;}
a {text-decoration: none;}
ul {list-style: none;}

:root
{
  --bg-blue-dark: #0e1218;
  --bg-blue-mid: #212833;
  --bg-blue-light: #2d3b4e;

  --hl-blue-dark:  #4b99cc;
  --hl-blue-light: #55ade8;

  --hl-red-dark: #c53131;
  --hl-red-light: #ff4e4e;

  --hl-green-dark: #25df91;
  --hl-green-light: #26ffa5;

  --menu-width: 400px;
  --menu-width-translate: -400px;

  --container-border-rad: 5px;
  --container-sub-border-rad: 3px;
}

.highlight
{color: var(--hl-blue-light);}

.app
{
  position: relative;

  height: 100dvh;
  width: 100dvw;

  background-color: var(--bg-blue-dark);
}

.app a 
{color: #fff;}

.btn-close
{
  color: #fff;

  font-size: 2.3rem;
  cursor: pointer;
}

.btn-close:hover > svg
{filter: drop-shadow(0px 0px 1px #fff);}

/***************************************************************/
/*** menu ***/
.menu
{
  display: flex;
  flex-direction: column;
  
  position: fixed;

  height: 100dvh;
  width: var(--menu-width);
  
  padding: 32px;

  color: #fff;
  box-shadow: 0px 0px 15px #2a363d5b;
  background-color: var(--bg-blue-mid);

  z-index: 2;

  transform-origin: left;
}

.menu-hidden
{
  transform: translateX(var(--menu-width-translate));
  opacity: 0;
}

.menu-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 32px;
}

.menu-header .app-logo:hover
{filter: drop-shadow(0px 0px 1px var(--hl-blue-light))}

.menu-upper
{
  margin-bottom: 24px;

  font-size: 1.2rem;
}

.menu-upper-item
{
  margin-bottom: 16px;
  padding: 0px 0px 8px 2px;

  border-bottom: 2px solid var(--hl-blue-light);
}

.menu-upper-item a
{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.menu-upper-item:hover
{text-shadow: 0px 0px 3px #fff;} 

.menu-projects
{
  display: grid;
  grid-template-columns: 9fr 1fr;
  row-gap: 16px;
}

.menu-projects-header
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  cursor: pointer;
  user-select: none;
}

.menu-projects-header .fa-chevron-up
{font-size: 1rem;}

.menu-projects-header:hover
{filter: drop-shadow(0px 0px 1px #fff);}

.menu-projects-add
{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: 1.5rem;

  cursor: pointer;
}

.menu-projects-add:hover > svg
{filter: drop-shadow(0px 0px 1px #fff);}

.menu-projects-list
{
  grid-column: 1 / 3;
  grid-row: 2;
  max-height: 512px;
  
  opacity: 1;

  font-size: 0.9rem;
  overflow-y: auto;
}

.menu-projects-list-item
{
  display: grid;
  grid-template-columns: 9fr 1fr;

  padding: 12px 0px 12px 16px;
  border-radius: var(--container-border-rad);

  cursor: pointer;
}

.menu-projects-list-item:hover
{background: linear-gradient(270deg, rgba(255, 255, 255, 0) 5%, rgba(52, 122, 170, 0.50) 100%);}

.menu-projects-list-item .item-data
{
  display: flex;
  align-items: center;
  gap: 16px;

  width: 275px;

  color: #cecece;
}

.menu-projects-list-item .item-name
{
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.menu-projects-list-item .total-tasks
{
  padding: 1px 8px;
  border-radius: var(--container-sub-border-rad);

  background: var(--bg-blue-dark);

  text-align: center;
}

.menu-projects-list-hidden
{opacity: 0;}

.chevron-rotate 
{transform: rotate(180deg);}

.menu-user
{
  display: grid;
  grid-template-columns: 12fr 2fr;

  margin-top: auto;
  padding-top: 16px;

  border-top: 3px solid #334150;
  border-radius: var(--container-sub-border-rad);
}

.menu-user-data
{
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu-user-pic img
{
  width: 48px;
  border-radius: var(--container-border-rad);
}

.menu-user-name
{
  display: flex;
  align-items: center;

  font-size: 1.4rem;
}

.menu-user-signout
{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: 1.4rem;
  cursor: pointer;
}

.menu-user-signout:hover
{filter: drop-shadow(0px 0px 1px #fff);}

/***************************************************************/
/*** dashboard ***/
.dashboard
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  position: absolute;
  left: var(--menu-width);

  min-height: 100dvh;
  width: calc(100% - var(--menu-width));

  padding: 24px;

  color: #fff;
}

.move-dashboard
{
  width: 100%;
  left: 0;
}

.dashboard-searchbar
{
  position: relative;

  width: 1400px;
  max-width: 100%;

  margin-bottom: 48px;
  border-radius: var(--container-border-rad);

  background-color: var(--bg-blue-light);
}

.dashboard-searchbar .fa-magnifying-glass
{
  position: absolute;
  top: 25%;
  left: 16px;

  font-size: 1.3rem;
  margin-right: 12px;
}

.dashboard-searchbar input
{
  width: 96%;

  padding: 12px 12px 12px 48px;
  border-radius: var(--container-border-rad);

  color: #fff;
  background-color: inherit;
}

.dashboard-searchbar input::placeholder
{color: #afaeae;}

.dashboard-upper
{
  display: grid;
  grid-template-columns: minmax(0px, 100%) auto auto auto;
  align-items: end;
  gap: 8px;

  width: 1400px;
  max-width: 100%;

  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--hl-blue-light);

  font-weight: 500;
}

.dashboard-upper-title
{
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.upper-controls-filter
{
  padding: 12px;
  border: 2px solid #fff;
  border-radius: var(--container-sub-border-rad);

  cursor: pointer;
  user-select: none;
}

.upper-controls-filter:hover
{
  color: var(--bg-blue-light);
  background-color: #fff;
}

.upper-controls-filter .fa-arrow-down-wide-short
{transition: all 0s ease-in-out;}

.upper-controls-add_task
{
  padding: 12px;
  border: 2px solid var(--hl-green-light);
  border-radius: var(--container-sub-border-rad);

  color: #fff;

  cursor: pointer;
  user-select: none;
}

.upper-controls-add_task:hover
{
  color: var(--bg-blue-light);
  background-color: var(--hl-green-light);
}

.upper-controls-add_task .fa-plus
{transition: all 0s ease-in-out;}

.upper-controls-delete_project
{
  padding: 12px;
  border: 2px solid var(--hl-red-light);
  border-radius: var(--container-sub-border-rad);

  color: #fff;

  cursor: pointer;
  user-select: none;
}

.upper-controls-delete_project:hover
{
  color: var(--bg-blue-light);
  background-color: var(--hl-red-light);
}

.upper-controls-delete_project .fa-trash-can
{transition: all 0s ease-in-out;}

.dashboard-tasks
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  width: 1400px;
  max-width: 100%;
  
}

.dashboard-tasks h2
{
  margin-bottom: 16px;

  font-size: 1.2rem;
  font-weight: 500;
}

.dashboard-tasks-item
{
  display: grid;
  grid-template-columns: minmax(0, 100%) auto;
  grid-template-rows: auto minmax(0, 100%);
  
  height: fit-content;

  padding: 16px;
  border-radius: var(--container-border-rad);

  background-color: var(--bg-blue-mid);
}

.dashboard-tasks-list
{
  grid-row: 2;
  grid-column: 1 / 3;
  
  display: flex;
  flex-direction: column;
  gap: 24px;

  border-radius: var(--container-sub-border-rad);
}

.tasks-item-options
{
  font-size: 1.5rem;
  text-align: right;
}

.tasks-list-item
{
  display: flex;
  justify-content: space-between;
  
  position: relative;
  width: 100%;
  
  padding: 12px;
  border-radius: var(--container-sub-border-rad);

  background-color: var(--bg-blue-light);
}

.tasks-list-item:hover > .list-item-options
{
  opacity: 1;
  cursor: pointer;
}

.list-item-options
{
  position: absolute;
  right: 12px;
  top: 12px;

  opacity: 0;
}

.projects-creator-background,
.tasks-creator-background
{
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  inset: 0;
  opacity: 0;

  height: 100%;
  width: 100%;

  background-color: #16191dc0;

  z-index: -1;
}

.projects-creator-shown,
.tasks-creator-shown
{
  opacity: 1;
  z-index: 3;
}

.projects-creator,
.tasks-creator
{
  display: grid;
  grid-template-columns: 320px 80px 32px;
  grid-template-rows: repeat(3, auto);
  gap: 8px;

  padding: 16px;
  border-radius: var(--container-border-rad);

  color: white;
  background-color: var(--bg-blue-light);
}

.btn-close
{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  grid-row: 1;
  grid-column: 3 / 4;
}

.creator-title
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  
  grid-column: 1 / 3;
}

.creator-input
{
  padding: 8px 12px;
  border-radius: var(--container-sub-border-rad);
}

select
{
  width: 100%;
  appearance: none;
}

option
{
  padding: 8px;
}

#input-1
{grid-column: 1 / 2;}

#input-2
{grid-column: 2 / 4;}

.creator-btn
{
  grid-column: 1 / 4;

  padding: 8px;
  border-radius: var(--container-sub-border-rad);

  background-color: var(--hl-green-dark);

  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.creator-btn:hover
{background-color: var(--hl-green-light);}

.dashboard-burguer-btn
{
  position: absolute;
  left: 24px;
  top: 24px;
  
  opacity: 0;
  color: #fff;

  font-size: 2rem;
  pointer-events: none;
}

.dashboard-burguer-btn:hover > svg
{filter: drop-shadow(0px 0px 1px #fff);}

.show-dashboard-burguer-btn
{
  opacity: 1;
  z-index: 3;

  cursor: pointer;
  pointer-events: initial;
}

/***************************************************************/
/*** mobile ***/
@media screen and (max-width: 1542px)
{
  .dashboard
  {padding-top: 96px;} 
  
  .dashboard-searchbar
  {
    position: absolute;
    left: 72px;
    top: 22px;
    
    width: calc(100% - 96px);  
  }

  .searchbar-when-menu-shown
  {
    left: 24px;
    width: calc(100% - 49px) !important;
  }

}

@media screen and (max-width: 1336px) 
{
  html
  {font-size: 14px;}

  .burguer-menu
  {
    position: absolute;
    z-index: 2;
  }  

  .dashboard
  {
    position: inherit;
    width: 100%;
    left: 0;
  }
}

@media screen and (max-width: 724px) 
{
  .dashboard-tasks
  {grid-template-columns: 1fr;}
}