@import '../../../css/_variables.scss'; 

.menu
{
  display: flex;
  flex-direction: column;
  
  position: fixed;  
  width: $menu-w; 
  height: 100dvh;
  padding: 32px;
  
  color: #fff;
  background-color: $bg-blue-mid;
  
  transform-origin: left;
  @include glow-bg;

  &--shown
  {
    z-index: 12;
    opacity: 1;
  }

  &--hidden
  {
    transform: translateX($menu-w-inv);
    z-index: -12;
    opacity: 0;
  }
}

@media screen and (max-width: 420px) 
{
  .menu
  { width: 100%; }
}
