@import '../../../css/_variables.scss';

.dashboard
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  position: absolute;

  left: 0;
  width: 100%;
  height: 100dvh;
 
  padding-block: 64px 8px;

  color: $white-light;
  background-color: $bg-blue-dark;

  @include transition;

  ::-webkit-scrollbar
  {  height: 12px }

  &--moved
  {
    left: $menu-w;
    width: calc(100% - $menu-w); 
  }

  &__burger
  {
    position: absolute;
    left: 24px;
    top: 26px;
    z-index: 3;
    
    color: $white-light;

    font-size: 2rem;
    cursor: pointer;

    &:hover > svg
    { filter: drop-shadow(0px 0px 1px $white-light); }
  }
}

@media screen and (max-width: 1336px) 
{
  .dashboard
  {
    position: inherit;
    width: 100%;
    left: 0;

    &__burger
    { z-index: 2 }  
  }
}
