@import '../../../../../css/_variables.scss';

.task
{  
  position: relative;
  width: 100%;
  padding: 12px;
  border-radius: $br-small;

  background-color: $bg-blue-light;

  cursor: default;

  &__position
  {
    position: absolute;
    left: 4px;
    top: 2px;

    color: $grey-light;

    font-size: 0.6rem;
  }

  &__text
  {
    font-size: 1rem;
    word-break: break-all;
    white-space: pre-wrap
  }

  &:hover > &__options
  { opacity: 1; }

  &__options
  {
    opacity: 0; 
    z-index: 5;

    position: absolute;
    top: 0px;
    right: 0px;
    width: 42px;
    height: 42px;
    border-radius: $br-small;

    background-color: $bg-blue-light;

    font-size: 1.2rem;

    cursor: pointer;
    user-select: none;

    @include transition;

    &:hover
    { 
      color: $bg-blue-light;
      background-color: $white-light;
    }

    &__icon
    { 
      display: grid;
      place-items: center;
    
      width: 42px; 
      height: 42px;
    }

    & > *
    { transition: all 0s 0s ease-in-out; }
  }
}

@media screen and (max-width: 768px) 
{
  .task__options
  { opacity: 1 }  
}