@import '../../../../../css/_variables.scss';

.task
{ 
  display: flex;
  flex-direction: column;
  
  position: relative;
  width: 100%;
  border-radius: $br-small;

  background-color: $bg-blue-light;

  overflow-y: hidden;
  cursor: default;

  &__position
  {
    position: absolute;
    left: 4px;
    top: 2px;

    color: $grey-light;

    font-size: 0.6rem;
  }

  &__tags
  {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    padding: 12px;
  }

  &__tag
  {
    padding: 1px 8px;
    border-radius: $br-small;
    
    font-size: 0.9rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include transition;

    &--hidden
    { padding: 4px 8px }
  }

  &__text
  {
    padding: 12px;
    border-radius: $br-small;

    font-size: 1rem;
    word-break: break-word;
    white-space: pre-wrap;

    box-shadow: 0px -5px 10px hsla(211, 18%, 15%, 0.35);
  }

  &__badges
  {
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 0px 0px 8px 8px;

    font-weight: 500;
    font-size: 0.9rem;
  }

  &__due-date
  {
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 4px;
    border-radius: $br-small;

    background-color: $bg-blue-brighter;
    box-shadow: 0px 0px 5px hsla(211, 18%, 15%, 0.4);

    cursor: pointer;
    user-select: none;
    @include transition;

    &:hover
    { background-color: lighten($bg-blue-brighter, 5%); }

    &--overdue
    { 
      background-color: $red-dark; 
      &:hover { background-color: $red-light }
    }

    &--today
    { 
      background-color: $orange-dark; 
      &:hover { background-color: $orange-light }
    }
    
    &--tomorrow
    { 
      background-color: $yellow-dark; 
      &:hover { background-color: $yellow-light }
    }

    &--completed
    { 
      background-color: $green-dark; 
      &:hover { background-color: $green-light }
    }

    .fa-clock, .fa-square-check
    { width: 14px; }
  }

  &:hover > &__options
  { 
    opacity: 1; 
    top: 0px;
  }

  &__options
  {
    display: grid;
    place-items: center;

    opacity: 0; 
    z-index: 5;

    position: absolute;
    top: 2px;
    right: 0px;
    width: 42px;
    height: 42px;
    border-radius: $br-small;

    background-color: $bg-blue-light;
    box-shadow: -5px -10px 10px hsla(211, 18%, 15%, 0.35);

    font-size: 1.2rem;

    cursor: pointer;
    user-select: none;

    @include transition;

    &:hover
    { background-color: $bg-blue-bright }
  }
}

@media screen and (max-width: 768px) 
{
  .task
  {
    &__tags
    { padding-bottom: 0 }

    &__options
    { 
      top: 0px;
      opacity: 1;
      box-shadow: none;
    }  

    &__text
    {
      padding-right: 48px;
      box-shadow: none;
    }
  }
}