@import '../../../css/_variables.scss';

.notification
{
  display: flex;
  align-items: center;
  gap: 16px;
  
  z-index: 999;

  position: absolute;
  top: 16px;
  right: 16px;
  width: 360px;
  padding: 16px 32px 16px 0px;
  border-radius: $br-big;

  color: $white-light;
  background-color: $bg-blue-light;

  @include transition;

  &::before
  {
    content: '';
    z-index: 30;
  
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: $br-big;
  }

  &--confirmation
  {
    &::before
    { background: linear-gradient(270deg, rgba(0,0,0,0) 30%, rgba(27, 228, 0, 0.164) 100%); }

    .notification__icon, .notification__header
    { color: $green-light; }
  }

  &--error
  {
    &::before
    { background: linear-gradient(270deg, rgba(0,0,0,0) 30%, rgba(207, 0, 28, 0.247) 100%); }

    .notification__icon, .notification__header
    { color: $crimson-dark; }
  }

  &__close
  {
    z-index: 200;

    position: absolute;
    top: 8px;
    right: 16px;

    color: $grey-light;

    font-weight: 600;
    cursor: pointer;
  }

  &__icon
  {
    margin-left: 24px;
    font-size: 2rem;
  }

  &__header
  { font-weight: 700 }

  &__msg
  {
    margin-top: 8px;
    color: $grey-light;
    font-size: 0.9rem;
  }
}

.confirmation
{
  display: flex;
  flex-direction: column;
  gap: 24px;

  z-index: 99976575345;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 32px;
  border-radius: $br-giant;

  color: $white-light;
  background-color: $bg-blue-light;

  transform: translate(-50%, -50%);

  &__data
  { 
    display: flex;
    flex-direction: column; 
    gap: 8px;

    text-align: center;
  }

  &__header
  {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__msg
  {
    color: $grey-light;
    font-size: 0.9rem;
  }

  &__btns
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    .btn
    {
      width: 100%;
      padding-block: 12px;
      border-radius: 9px;

      font-weight: 600;
      text-align: center;
      cursor: pointer;

      @include transition;

      &--confirmation--danger
      {
        background-color: $red-dark;

        &:hover
        { background-color: $red-light; }
      }

      &--confirmation--caution
      {
        background-color: $yellow-dark;

        &:hover
        { background-color: $yellow-light }
      }

      &--confirmation--neutral
      {
        color: $bg-blue-dark;
        background-color: $white-dark;

        &:hover
        { background-color: $white-light; }
      }

      &--confirmation--positive
      {
        background-color: $green-dark;

        &:hover
        { background-color: $green-light; }
      }

      &--rejection
      {
        color: $grey-light;

        &:hover
        { color: $white-dark; }
      }
    }
  }
}

@media screen and (max-width: 420px) 
{
  .notification
  {
    width: calc(100% - 32px);
    left: 16px;
  }

  .confirmation
  {
    width: calc(100% - 32px);
  }
}