@import '../../../../css/variables';

.searchbar
{
  position: absolute;
  top: 22px;

  width: 420px;
  max-width: 100%;

  margin: 0px 72px 48px 72px;
  border-radius: $br-big;

  background-color: $bg-blue-light;

  .fa-magnifying-glass
  {
    position: absolute;
    top: 25%;
    left: 16px;

    font-size: 1.3rem;
    margin-right: 12px;
  }

  input
  {
    width: 96%;
    padding: 12px 12px 12px 48px;
    border-radius: $br-big;

    color: #fff;
    background-color: inherit;

    &::placeholder
    { color: #afaeae; }
  }
}

@media screen and (min-width: 1337px)
{
  .searchbar--menu-shown
  { margin-left: 24px }
}

@media screen and (max-width: 1542px)
{
  .searchbar
  {
    position: absolute;
    top: 22px;
  }
}

@media screen and (max-width: 768px)
{
  .searchbar
  {
    width: calc(100% - 96px);
  }
}