@import '../../../../css/_variables.scss';

.menu__header
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 32px;

  @include transition;
}

.menu__logo
{
  @include transition;

  &:hover
  { @include glow-content }

  img
  {
    max-width: 192px;
    margin-bottom: -12px;
  }
}