@import '../../css/_variables.scss';

$wd: 320px;
$wm: 280px;

.reg
{
  display: flex;

  width: 100vw;
  height: 100dvh;

  @include anim_fade_in;

  &__form
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;

    width: $menu-w;
    height: 100dvh;
    padding-top: 64px;

    color: #fff;
    background-color: $bg-blue-mid;
  }

  &__logo
  {
    position: relative;
    left: 10px;

    max-width: $wd;
    margin-bottom: 64px;
  }
  
  &__inputs
  {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    .reg__input
    { 
      position: relative; 

      &--email
      { margin-bottom: 12px; }
    }


    .fa-user, .fa-envelope, .fa-key
    {
      position: absolute;
      top: 12px;
      left: 12px;

      font-size: 1.1rem;
    }

    input
    {
      display: block;

      width: $wd;
      padding: 12px 16px 12px 40px;
      border-radius: $br-small;

      color: $white-light;
      background-color: $bg-blue-light;

      &::placeholder
      { color: #c0c0c0; }
    }
  }

  &__navigate
  {
    width: $wd;

    color: $white-dark;

    cursor: pointer;
    text-align: left;
    text-decoration: underline;

    &:hover
    { color: $white-light; }
  }

  &__auth
  {
    width: $wd;
    padding: 12px 16px;
    border-radius: $br-small;

    color: $white-light;
    background-color: $blue-dark;

    font-size: 1.2rem;

    &:hover
    { background-color: $blue-light; }
  }

  &__background
  {
    display: grid;
    place-items: center;

    width: calc(100% - $menu-w);
    height: 100dvh;

    background: url('/public/img/credentials__bg--dark.png') center center/cover;
  }
}

@media screen and (max-width: 720px) 
{
  .reg__form
  { width: 100vw; }

  .reg__logo, input
  { max-width: $wm; }

  .reg__background
  { display: none; }
}