@import '../../../../css/_variables.scss';

.projects
{
  display: grid;
  grid-template-columns: 9fr 1fr;
  row-gap: 16px;

  &__header
  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    
    cursor: pointer;
    user-select: none;

    @include transition;

    &:hover
    { @include glow-content }

    .fa-chevron-up
    { @include transition }

    .chevron-rotate 
    { transform: rotate(180deg) }
  }

  &__list
  {
    grid-column: span 2;
    
    opacity: 1;
    max-height: 512px;
  
    font-size: 0.9rem;
    overflow-y: scroll;
    @include transition;

    &--hidden
    { 
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  .project
  {
    display: flex;
    align-items: center;
  
    position: relative;
    padding-block: 12px;
    border-radius: $br-big;

    cursor: pointer; 

    &::before
    {
      content: '';
      
      z-index: -1;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: $br-big;

      @include gradient;

      transition: opacity 0.15s ease-in-out;
    }

    &:hover::before
    { opacity: 1; }

    &__data
    {
      display: flex;
      align-items: center;
      gap: 16px;
    
      width: 80%;
      margin-left: 16px;

      color: $grey-light;
    }

    &__name
    {
      width: calc(100%);
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    &__total-tasks
    {
      min-width: 32px;
      min-height: 16px;
      margin-left: auto;
      padding: 2px 8px;
      border-radius: $br-small;
    
      background-color: $bg-blue-dark;
    
      text-align: center;
    }
  }
}